<!DOCTYPE html>
<html>
<head>
    <title>TISCO EMPLOYEE PORTAL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style >
       .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 60px;
   background-color: black;
   color: white;
   text-align: center;}

html, body {
height:97%;
margin:0;
padding:0;
}
.carousel, .item, .active {
height:100%;
}
.carousel-inner {
height:100%;
}
.carousel {
margin-bottom: 60px;
}
.carousel-caption {
z-index: 10;
}
.carousel .item {
background-color: #777;
}
.carousel .carousel-inner .bg {
background-repeat:no-repeat;
background-size:cover;
}
.carousel .carousel-inner .bg1 {
background-image:url('https://www.tata.com/content/dam/tata/images/about-us/Desktop/about_tata_leadimage_desktop_1920x1080.jpg');
background-position: center top;
}
.carousel .carousel-inner .bg2 {
background-image:url('https://www.indoasiancommodities.com/wp-content/uploads/2017/10/Kalinganagar-Nightview.jpg');
background-position: center center;
}
.carousel .carousel-inner .bg3 {
background-image:url('https://images.cnbctv18.com/wp-content/uploads/2018/04/2018-03-23T131723Z_1_LYNXMPEE2M17C_RTROPTP_3_TATASTEEL-EARNINGS-768x494.jpg');
background-position: center bottom;
}
    </style>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top n">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://www.tatasteel.com/" target="_blank"><img src="https://www.tatasteel.com/images/tata-steel-logo.png" alt="TATA STEEL"></a>
    </div>
    <!-- <ul class="nav navbar-nav"></ul> -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/signup" style="margin-top: 7px"><span class="glyphicon glyphicon-user" ></span> Sign Up</a></li>
      <li><a href="/login"  style="margin-top: 7px"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a href="/"><img src="https://www.tatasteel.com/images/tata_logo.png" alt="TATA STEEL" height="30px"></a></li>
    </ul>
  </div>
</nav>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item bg bg1 active">
        <div class="container">
          <div class="carousel-caption">
            <h1>Jamsetji Tata</h1>
            <p>Jamsetji Nusserwanji Tata was an Indian pioneer industrialist, who founded the Tata Group, India's biggest conglomerate company.</p>
                  </div>
        </div>
      </div>
      <div class="item bg bg2">
        <div class="container">
          <div class="carousel-caption">
            <h1>VISION</h1>
            <p>We aspire to be the global steel industry benchmark for Value Creation and Corporate Citizenship.</p>
          
          </div>
        </div>
      </div>
      <div class="item bg bg3">
        <div class="container">
          <div class="carousel-caption">
            <h1>MISSION</h1>
            <p>Consistent with the vision and values of the founder Jamsetji Tata, Tata Steel strives to strengthen India’s industrial base through effective utilization of staff and materials. The means envisaged to achieve this are cutting edge technology and high productivity, consistent with modern management practices.</p>

            <p>Tata Steel recognizes that while honesty and integrity are essential ingredients of a strong and stable enterprise, profitability provides the main spark for economic activity.</p>
            <p>Overall, the Company seeks to scale the heights of excellence in all it does in an atmosphere free from fear, and thereby reaffirms its faith in democratic values.</p>            
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>


<div class="footer">
  <p style="margin-top: 20px">BUY . SELL . RENT</p>
</div> 


</div>
</body>
</html>
