<!DOCTYPE html>
<html>
<head>
    <title>TISCO EMPLOYEE PORTAL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <style >
       .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: black;
        color: white;
        text-align: center;
        }

 body  {
 background-image: url("https://images.unsplash.com/photo-1550895030-823330fc2551?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  background-color: #ede6b8;
  background-repeat: no-repeat;
  background-size: cover;

}


    </style>
</head>
<div>
  <nav class="navbar navbar-inverse navbar-fixed-top n">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://www.tatasteel.com/" target="_blank"><img src="https://www.tatasteel.com/images/tata-steel-logo.png" alt="TATA STEEL"></a>
    </div>
    <!-- <ul class="nav navbar-nav"></ul> -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/userhome" style="margin-top: 7px"></a></li>
      <li><a href="/logout"  style="margin-top: 7px"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      <li><a href="/"><img src="https://www.tatasteel.com/images/tata_logo.png" alt="TATA STEEL" height="30px"></a></li>
    </ul>
  </div>
</nav>
</div>
<body style="text-align: center;">
<div style="background-image: url(#);background-size: cover;background-repeat: no-repeat;">
  <div class="container" style="padding-top: 100px;padding-bottom: 300px;text-align: center;">
    <div class="w3-card-4" style="background-color: rgba(0,0,0,0.6);border-radius: 20px;margin-right: 20%;margin-left: 20%;color: white;">
       <%pro.forEach(function(pro){%> 
      <h2><%=pro.title%></h2><a href="/<%=pro._id%>/delete"><button class="btn btn-md btn-danger" >Delete</button></a><hr>
      <%});%>

     
    </div>
  </div>
</div>

<div class="footer">
  <p style="margin-top: 20px">BUY . SELL . RENT</p>
</div> 
</body>
</html>