<!DOCTYPE html>
<html>
<head>
    <title>TISCO EMPLOYEE PORTAL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 60px;
   background-color: black;
   color: white;
   text-align: center;}
</style>
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top n">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://www.tatasteel.com/" target="_blank"><img src="https://www.tatasteel.com/images/tata-steel-logo.png" alt="TATA STEEL"></a>
    </div>
    <!-- <ul class="nav navbar-nav"></ul> -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"  style="margin-top: 7px"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      <li><a href="#"><img src="https://www.tatasteel.com/images/tata_logo.png" alt="TATA STEEL" height="30px"></a></li>
    </ul>
  </div>
</nav>

<h2 style="margin-top: 60px; text-align: center;">POST A NEW AD</h2>


<div class="container" style="text-align: center;">
<form action="" method="POST">
  <input type="text" name="title" placeholder="Product Title">
  <input type="text" name="price" placeholder="Product Price">
  <textarea name="add" cols="5" rows="3" placeholder="Enter full address"></textarea>
  <input type="text" name="mob" placeholder="Mobile Number">
  <textarea name="desc" cols="5" rows="3" placeholder="Description"></textarea>
  <select name="type">
    <option value="Car">Car</option>
    <option value="Motorcycles">Motorcycles</option>
    <option value="Electronics">Electronics</option>
    <option value="Apartment">Houses & Apartments</option>
    <option value="Furniture">Furniture</option>
    <option value="Mis">Books, Sports & Hobbies</option>
    <option value="Fashion">Fashion</option>
  </select><br>
  <input type="radio" name="class" value="Sell" checked="True">Sell
  <input type="radio" name="class" value="Rent">Rent<br><br>
  <a href="/postad"><input type="submit" name="Submit" class="btn btn-md btn-warning"></a>
</form>

</div>

<div class="footer">
  <p style="margin-top: 20px">BUY . SELL . RENT</p>
</div>
</body>
</html>
