<!DOCTYPE html>
<html>
<head>
    <title>TISCO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style >
       .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: black;
        color: white;
        text-align: center;
        }

 body  {
 background-image: url("https://images.unsplash.com/photo-1550895030-823330fc2551?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  background-color: #ede6b8;
  background-repeat: no-repeat;
  background-size: cover;

}


    </style>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top n">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://www.tatasteel.com/" target="_blank"><img src="https://www.tatasteel.com/images/tata-steel-logo.png" alt="TATA STEEL"></a>
    </div>
    <!-- <ul class="nav navbar-nav"></ul> -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/userhome" style="margin-top: 7px">Welcome&nbsp;<%=usr%></a></li>
      <li><a href="/logout"  style="margin-top: 7px"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      <li><a href="/"><img src="https://www.tatasteel.com/images/tata_logo.png" alt="TATA STEEL" height="30px"></a></li>
    </ul>
  </div>
</nav>
<div class="container" style="margin-top: 150px;">
  <div class="jumbotron" style="background-color:rgba(0,0,0,0.6);color:white;  text-align: center; margin-top: 20px; border-radius: 20px; ">
    <h2>WELCOME TO THE NEW AND RESPONSIVE PORTAL</h2> 
  </div>


</div>

<div class="container">
 <!--  <h2>Vertical Button Group</h2> -->
  
  <div class="btn-group-vertical">
    <a href="/viewall"><button type="button" class="btn btn-primary btn-lg" >VIEW ADS</button></a>
    <a href="/postad"><button type="button" class="btn btn-success btn-lg">POST NEW AD</button></a>
    <a href="/manage"><button type="button" class="btn btn-danger btn-lg">MANAGE MY ADS</button></a>
  </div>
</div>

<div class="footer">
  <p style="margin-top: 20px">BUY . SELL . RENT</p>
</div> 


</div>
</body>
</html>
